.business-success-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 6.3rem; /* Increase the font size as desired */
}

.business-success-text-2 {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 1.9rem; /* Increase the font size as desired */
}

.strategic-management-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.powerful-features-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.premium-benefits-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.features-container {
  margin: 0rem 5.6875rem 7.75rem 5.6875rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 69rem;
  box-sizing: border-box;
  text-align: center;
}
.white-container-features {
  border-radius: 1.25rem;
  padding: 1.25rem;
  top: -3rem;
  position: relative;
  align-items: center;
  text-align: center;
  margin-left: 20%;
  box-sizing: border-box;
  height: 60%;
  width: 60%;
}
.slide {
  border-radius: 0.625rem;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  box-sizing: border-box;
}
.prev-button {
  border-radius: 0.625rem;
  position: absolute;
  top: 385%;
  margin-left: 45%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
}
.prev-button:hover {
  background-color: rgba(245, 90, 90, 0.8);
  color: #ffffff;
}
.prev-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.next-button {
  border-radius: 0.625rem;
  position: absolute;
  top: 385%;
  margin-left: 49%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
}
.next-button:hover {
  background-color: rgba(245, 90, 90, 0.8);
  color: #ffffff;
}
.next-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.increases {
  transition: transform 0.3s;
}
.increases:hover {
  transform: scale(0.9);
}
.swot-analysis {
  margin: 0rem 0.3125rem 0.5rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.strategic-mapping {
  margin: 0rem 0.3125rem 0.75rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.business-scorecard {
  margin: 0rem 0.625rem 0.4375rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.data-analysis-and-visualization {
  margin: 0rem 0.4375rem 0.75rem 0.4375rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.swot-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.swot-feature-container:hover {
  transform: scale(1.1);
}
.stratmap-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.stratmap-feature-container:hover {
  transform: scale(1.1);
}
.scorecard-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.scorecard-feature-container:hover {
  transform: scale(1.1);
}
.visualization-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.visualization-feature-container:hover {
  transform: scale(1.1);
}
